h1,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  color: #B0FFCC; }

h1 {
  font-size: 30px; }

h3 {
  font-size: 20px;
  background-color: #491516;
  border-radius: 30px; }

body {
  background-color: #360A0B; }

.clockBloc {
  background-color: #B0FFCC;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 10px black; }
  .clockBloc span {
    position: absolute;
    margin: auto;
    transition: rotate 1s ease; }
    .clockBloc span:before {
      content: "";
      transform: rotate(90deg);
      left: 0;
      position: relative;
      display: block;
      border-radius: 6px; }

#currentClockBloc {
  width: 50vh;
  height: 50vh; }
  #currentClockBloc .hour:before {
    bottom: 9vh;
    width: 18vh;
    height: 6px;
    background-color: #1F402D; }
  #currentClockBloc .minutes:before {
    bottom: 10vh;
    width: 20vh;
    height: 4px;
    background-color: #3E805B; }
  #currentClockBloc .seconds:before {
    bottom: 12vh;
    width: 24vh;
    height: 2px;
    background-color: #5EBF88; }

#adClock {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 30px; }

#mexicoClock,
#irelandClock,
#laosClock {
  width: 20vh;
  height: 20vh; }
  #mexicoClock .hour:before,
  #irelandClock .hour:before,
  #laosClock .hour:before {
    bottom: 3vh;
    width: 6vh;
    height: 3px;
    background-color: #1F402D; }
  #mexicoClock .minutes:before,
  #irelandClock .minutes:before,
  #laosClock .minutes:before {
    bottom: 4vh;
    width: 8vh;
    height: 2px;
    background-color: #3E805B; }
  #mexicoClock .seconds:before,
  #irelandClock .seconds:before,
  #laosClock .seconds:before {
    bottom: 5vh;
    width: 10vh;
    height: 1px;
    background-color: #5EBF88; }

.hidden {
  visibility: hidden; }

/*# sourceMappingURL=style.css.map */
